.prlx-1{ 
	background: url('../images/banner_test.jpg');
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
}
.prlx-2{ 
	background: url('../images/banner2_test.jpg');
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
}

.fixed {
	left: 0px;
	right: 0px;
	position: fixed;
	top: -80px;
	border-bottom: solid 1px #AAAAAA !important;
}

/* bootstrap css overrides */

.carousel {
	bottom: 0;
}

.carousel .item {
	background-color: #478bca;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}

.diamond {
	width: 120px;
	height: 120px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: white;
	vertical-align: middle;
	margin: 0 auto;
	box-shadow: 5px 5px 0px #478bca;
	border: 1px solid #00B4E5;
}

.featurette-divider {
  border: 0 none;
  margin: 80px 0;
}

.navbar {
	background:#EBEFF0;
	border:0;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background: #488CCB;
}