.prlx-1{ 
	background: url('../images/banner_test.jpg');
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
}
.prlx-2{ 
	background: url('../images/banner2_test.jpg');
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
}

.fixed {
	left: 0px;
	right: 0px;
	position: fixed;
	top: -80px;
	border-bottom: solid 1px #e4e4e4;
}