/* @media(max-width: 1580px) {
  body {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em; Fine tune unbehaved elements
  }
}

@media(max-width: 1200px) {
  body {
    font-size: 16px;
  }
} */

body{
	overflow-x:hidden;	
	font-family:"Open Sans",Helvetica,Arial,sans-serif;
}

 /* div > table > tbody > tr > td{

	border-top: 1px solid #E5C0B3;
	padding: 10px;
} */

/*div > table > tbody > tr > td:hover{
	background-color:#E2D1CC;
	transition: all 0.2s linear 0s;
	padding-left:15px;
} */

a {
	color:#478BCA;
}

h2, .h2{
	font-size: 26px;
}

.stars-in-circle {
	background-image: url('../images/bstar_logo_d_in_cir3_100x100.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
	margin: 0 auto;
}

#companyLogo {
	width:170px;
	margin-top:-10px;
}

.prlx-1{ 
	background-image: url('../images/stock-photo-40071082-java-source-code_1500x999_blue_overlay.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/*background-attachment: fixed; creates a sliver at the top of the page */
}
.prlx-2{ 
	background-image: url('../images/stock-photo-27555944-business-succeed_1500x1180_30x.jpg');
	/* background-attachment: fixed; */
	/* background-position: 0 -450px; */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
	/* position: relative; */
}

.bg-diamonds{
	background-image: url('../images/stock-illustration-27591554-abstract-vector-background-for-use-in-design.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.wwd-big-data{
	background-image: url('../images/big_data_white_bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.wwd-cloud{
	background-image: url('../images/cloud_dark_blue_bg2.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.wwd-cloud-blue{
	background-image: url('../images/cloud_blue_gradient_bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.wwd-mobile{
	background-image: url('../images/mobile_with_hands_600h.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.wwd-mobile-wood-table{
	
	background-image: url('../images/mobile_wood_bg_1000x500.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.wwd-cybersecurity{
	background-image: url('../images/lock_white_bg.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.diamond-outlines{
	background-image: url('../images/diamond_outlines_bg2.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 500px;
}

@media(max-width: 1000px) {
	body{
		font-size:14px;
	}
}

@media(max-width: 700px) {
	body{
		font-size:12px;
	}
	
	#companyLogo {
		width:150px;
		margin-top:-5px;
	}
	
	/* .prlx-1{
		background-image: url('../images/stock-photo-19639427-typing_750x499.jpg');
		background-position: -200px -50px;
	}
	
	.prlx-2{
		background-image: url('../images/stock-photo-27555944-business-succeed_750x590_30x.jpg');
		background-position: -235px -50px;
	} */
}

@media(max-width: 500px) {
	body{
		font-size:10px;
	}
	
	#companyLogo {
		width:120px;
		margin-top:-5px;
	}
}

.fixed {
	left: 0px;
	right: 0px;
	position: fixed;
	top: -80px;
	border-bottom: solid 1px #AAAAAA !important;
	opacity: 0.9;
	background:#1A3668 !important;
}

.logoFixed {
	width:170px;
	margin-top:-10px;
}

/* bootstrap css overrides */

.carousel {
	bottom: 0;
	height: 350px;
}

.carousel .item {
	/* background-color: #478bca; */
	/* background-color: #191B1F; */
	background-color: #EBEFF0;
	height: 350px;
	/* background-image: url('../images/stock-illustration-27591554-abstract-vector-background-for-use-in-design.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; */
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}

.carousel-caption {
	color:black;
	padding-bottom:4em;
	text-shadow:none;
}

.diamond {
	width: 120px;
	height: 120px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: white;
	vertical-align: middle;
	margin: 0 auto;
	box-shadow: 5px 5px 0px #478bca;
	border: 1px solid #00B4E5;
}

.featurette-divider {
  border: 0 none;
  margin: 80px 0;
}

.navbar {
	background:transparent;
	border:0;
	border-radius:0 !important;
	color:white;
}

.navbar-default .navbar-nav > li > a {
	font-size: .9em;
	color:white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  /* background: #112A46; */
  border-bottom: 3px solid white;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: white;
}

/* typed.js - blinking cursor */

.typed-cursor{
	color:#EBEFF0;
	font-size:3em;
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}